// Color Theme

$black-color: #000;
$green-color:#3BD55A;
$white-color:#fff;

// Font-Size

$fs-13: 1.3rem;
$fs-16: 1.6rem;
$fs-18: 1.8rem;
$fs-20: 2rem;
$fs-22: 2.2rem;
$fs-24: 2.4rem;
$fs-26: 2.6rem;
$fs-28: 2.8rem;
$fs-32: 3.2rem;
$fs-34: 3.4rem;
$fs-40: 4rem;
$fs-42: 4.2rem;
$fs-60: 6rem;
$fs-65: 6.5rem;
$fs-75: 7.5rem;
